<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Books</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{no_of_books}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Available Books</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{no_of_available}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Books With Me</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{mybooks}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
